.card-rules-dialog .text-rule {
  margin: 15px;
  font-size: 15px;
  color: #6e2f1f;
}
.card-rules-dialog .dialog-label {
  margin: 10px 0;
}
.card-rules-dialog .current-card {
  margin: 0 auto;
  display: block;
}
