.skullIsland {
  margin-top: 100px;
  margin-left: 20px;
}
.skullIsland .map {
  background-image: url(../Dice/assets/map_skull-island.png);
  width: 300px;
  height: 300px;
  background-size: 300px;
  background-repeat: no-repeat;
  transform: scale(2) rotate(-10deg) translateX(70px);
}
.skullIsland .area {
  padding: 20%;
  transform: scale(0.5) rotate(10deg) translateX(-70px);
}
