body {
  margin: 0;
}

@font-face {
  font-family: "ArrrMateyBb";
  src: url("src/fonts/ArrrMateyBb-wn3.ttf");
}

#main-container[data-loading] {
  visibility: hidden; /* Hides app while its loading */
  /* While app is loading layout might be broken -> prevent scrollbar */
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#loadscreen {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
}
#loadscreen .text {
  font-family: ArrrMateyBb;
  font-size: 60px;
}

#loadscreen .progress {
  font-family: arial, sans;
  font-size: 30px;
}
#loadscreen img {
  max-width: 60%;
  height: auto;
  margin-top: 60px;
  max-height: 500px;
}
