@import "./src/Header/header.css";
@import "./src/Score/score.css";
@import "./src/cards/cards.css";
@import "./src/dices/dice.css";
@import "./src/SkullIsland/skull-island.css";
@import "./src/Footer/footer.css";

body {
  font-family: arial, sans;
  color: #444444;
  margin: 0;
}
#mille-sabord-container {
  background-image: url("src/dices/assets/wood.jpg");
  color: white;
  padding: 15px;
  max-width: 680px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}
button {
  background: white;
  border: solid 1px currentColor;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 15px;
}
button:disabled:hover {
  cursor: default;
}
button:focus {
  outline: none;
}
.title {
  font-size: 23px;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
.subtitle {
  margin: 20px 0;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 680px) {
  .subtitle {
    font-size: 17px;
  }
}
