body {
  color: #444444;
}
.subtitle {
  margin: 20px 0;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
}
.diceSet {
  display: inline-block;
  margin-right: 10pc;
  margin-bottom: 30px;
  vertical-align: top;
}
