.header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* CURRENT CARD */
.card-container {
  display: flex;
  align-items: center;
}
.small-card {
  display: flex;
  align-items: center;
}
/* temporary */
.small-card button {
  height: 26px;
  margin-left: 20px;
}
.small-card .card {
  background: white;
  text-align: center;
  width: 55px;
  height: 55px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.76);
}
.small-card .card img {
  width: 100%;
  height: auto;
}

/*  SWORD CHALLENDE INDICATOR */
.sword-challenge-indicators {
  margin-left: 10px;
  display: flex;
}
.sword-challenge-indicators .sword-icon {
  border-radius: 100%;
  padding: 3px;
  background: #cb6828;
  margin: 3px;
  box-shadow: 3px 5px 2px 0px rgba(0, 0, 0, 0.33), 0px 3px 1px -2px rgba(65, 65, 65, 0.12);
}
.sword-challenge-indicators .sword-icon.disabled {
  background: #dadada;
  filter: grayscale(100%);
  box-shadow: 3px 5px 2px 0px rgba(0, 0, 0, 0.33), 0px 3px 1px -2px rgba(65, 65, 65, 0.12);
}
.sword-challenge-indicators img {
  width: 30px;
  height: 30px;
}

/* TOTAL SCORE */
.total-score {
  flex: 1;
  text-align: right;
  cursor: pointer;
}
.total-score .score {
  color: #ffe7be;
  background: #f7a23c;
  border: 3px solid #ffe7be;
  font-weight: 800;
  border-radius: 20px;
  padding: 1px 20px;
  position: relative;
  top: 4px;
}

/* CARD RULES DIALOG */
.card-rules-dialog .text-rule {
  margin: 15px;
  font-size: 15px;
  color: #885708;
}
.card-rules-dialog .dialog-label {
  margin: 10px 0;
}
.card-rules-dialog .current-card {
  width: 60%;
  margin: 0 auto;
  display: block;
}
