.score-particle {
  position: fixed;
  visibility: hidden;
}

.score-particle--value.moveToTotalScore {
  font-size: 20px;
  fill: white;
}

.score-particle--value.popOnPlace {
  font-family: skullsandcrossbones;
  font-weight: 700;
  font-size: 35px;
  fill: white;
  stroke: #4a321f;
  stroke-width: 1;
  stroke-linecap: round;
}
