.score-particle {
  position: fixed;
  visibility: hidden;
}

.score-particle--value {
  font-family: Arial;
  font-size: 25px;
  /* color: gold; */
  fill: gold;
  stroke: black;
  stroke-width: 1;
  stroke-linecap: round;
}
