.dialog .border {
  background-image: url("./wood.png");
  position: absolute;
  background-position: center;
  background-size: contain;
  border: 2px solid #42351a;
}
.dialog .border-top,
.dialog .border-bottom {
  background-image: url("./wood2.png");
  background-size: cover;
  width: calc(100% - 4px);
  height: 30px;
  border-radius: 3px;
}
.dialog .border-top {
  top: 0;
}
.dialog .border-bottom {
  bottom: 0;
}
.dialog .border-left,
.dialog .border-right {
  width: 30px;
  height: calc(100% - 4px);
}
.dialog .border-left {
  margin-left: 3px;
  left: 0;
}
.dialog .border-right {
  margin-right: 3px;
  right: 0;
}
.dialog-content {
  background-color: #ffe7be;
  width: calc(100% - 66px);
  height: calc(100% - 60px);
  margin: -30px 33px;
  display: flex;
  flex-direction: column;
}
.dialog-title {
  width: 60%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  background-image: url(./stone.png);
  background-size: cover;
  color: white;
  font-size: 26px;
  font-weight: 800;
  -webkit-text-stroke: 2px #42351a;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #42351a;
  border-radius: 5px;
}
.dialog-body {
  padding: 0 18px;
  margin: 20px 0 10px;
  overflow: scroll;
}
.dialog-label {
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  color: #885708;
}
.dialog-box {
  background: #f7a23c;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 13px;
}
.dialog-box div {
  padding: 5px 0;
}
.dialog-box .columns {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.dialog-box .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  text-align: center;
  width: 80px;
}
.dialog-box .column-title {
  font-size: 11px;
}
.dialog-box span {
  border: 2px solid grey;
  border-radius: 3px;
  padding: 3px 7px;
  margin-left: 3px;
}
.dialog-box .symbol-number {
  width: 9px;
  margin: 3px auto;
  display: block;
  border: 2px solid #c77c00;
  box-shadow: inset 0px 0px 4px 0px rgb(73 73 73 / 55%);
  background: #ffcd5d;
  color: #c77c00;
}
.dialog-box .points {
  width: 40px;
  margin: 3px auto;
  display: block;
}
.dialog-box img {
  width: 21px;
  height: 21px;
  margin: 3px auto;
  display: block;
  border: 2px solid #c77c00;
  box-shadow: inset 0px 0px 4px 0px rgb(73 73 73 / 55%);
  background: #ffcd5d;
  border-radius: 3px;
}
