.score-board-container {
  height: 100%;
  background-image: url("./sand.jpg");
  background-size: 400px;
}
.score-board-container .cross {
  position: absolute;
  right: 0;
  margin: 20px;
  font-size: 20px;
}
.score-board-container .action-container {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score-board-container .score-board-action {
  z-index: 1;
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f7a23c;
  background-color: #ffe7be;
  border: 3px solid #f7a23c;
}
.score-board-container .win-treasure-img {
  width: 50%;
  height: auto;
  max-width: 230px;
  margin: 0 auto;
  display: block;
  padding-top: 10px;
}
.score-board-container .users-path {
  display: flex;
  align-items: end;
  justify-content: center;
}

/* PATH */
.score-board-container .user-path {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-board-container .user-path svg {
  width: auto;
  height: 55vh;
  overflow: visible;
}
.score-board-container path.path-background,
.score-board-container path.path-foreground {
  fill: none;
  stroke-width: 4px;
  stroke-dasharray: 825;
  stroke-dashoffset: 825;
}
.score-board-container path.path-background {
  stroke: #756e63;
  stroke-dasharray: 10px;
}
.score-board-container path.path-foreground {
  stroke: white;
}

/* SCORE INDICATOR */
.score-board-container .score-indicator svg {
  width: 20px;
  height: 20px;
}
.score-board-container .score-indicator {
  position: absolute;
  offset-distance: 100%;
}

/* AVATAR */
.score-board-container .user-avatar {
  padding-top: 17px;
  max-height: 50px;
  position: relative;
}
.score-board-container .user-avatar svg {
  width: 70px;
  height: 70px;
}
.score-board-container .user-avatar svg circle {
  fill: none;
  stroke-width: 7px;
}
.score-board-container .player-name {
  position: absolute;
  width: 70px;
  text-align: center;
  margin-top: 17px;
  font-size: 14px;
}
.score-board-container .player-img {
  width: 100%;
  max-width: 90px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 100%;
  background-color: #ffe7be;
}
.user-avatar.next-player {
  animation: pulse 1s 1s cubic-bezier(0.4, 0, 1, 1) infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

/* SPEECH BUBBLES */
.score-board-container .speech-bubble {
  position: relative;
  background: #c7401b;
  border-radius: 0.4em;
  margin: 0 auto;
  margin-top: 12px;
  font-size: 12px;
  padding: 7px 0;
  width: 100%;
  text-align: center;
}
.score-board-container .speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #c7401b;
  border-bottom: 0;
  margin-left: -6px;
  margin-bottom: -6px;
}

/* SUCCESS & FAILURE ANIMATIONS */
.animation-3skulls {
  display: none;
  justify-content: center;
}
.animation-3skulls--active {
  display: flex;
}
.animation-3skulls .skull {
  position: absolute;
  width: 45px;
  height: 45px;
}
.animation-3skulls .skull-1 {
  opacity: 0;
  animation: fallToRight 0.8s cubic-bezier(0.4, 0, 1, 1) forwards;
}
.animation-3skulls .skull-2 {
  opacity: 0;
  animation: fallToLeft 0.8s 0.3s cubic-bezier(0.4, 0, 1, 1) forwards;
}
.animation-3skulls .skull-3 {
  opacity: 0;
  animation: fallToRight 0.7s 0.8s cubic-bezier(0.4, 0, 1, 1) forwards;  
}

@keyframes fallToRight {
  0% {
    transform: translate(-5px, -100px) rotate(-13deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translate(0, -22px) rotate(0);
    opacity: 1;
  }
  65% {
    transform: translate(24px, -36px) rotate(13deg);
    opacity: 1;
  }
  70% {
    transform: translate(35px, -36px) rotate(25deg);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translate(56px, 60px) rotate(35deg);
    opacity: 0;
  }
}

@keyframes fallToLeft {
  0% {
    transform: translate(5px, -100px) rotate(13deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translate(0, -22px) rotate(0);
    opacity: 1;
  }
  65% {
    transform: translate(-24px, -36px) rotate(-13deg);
    opacity: 1;
  }
  70% {
    transform: translate(-35px, -36px) rotate(-25deg);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translate(-56px, 60px) rotate(-35deg);
    opacity: 0;
  }
}