.game-configuration {
    height: 100%;
    width: 100%;
}
.game-configuration .background-image {
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background-color: #8ec9fc;
    background-image: url(../dice-ongoing/treasure-map.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}
.game-configuration .content {
    height: 100%;
    padding: 0 20px;
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-configuration .title {
    font-family: ArrrMateyBb;
    text-align: center;
    color: #082988;
    font-weight: normal;
    font-size: 86px;
    margin-bottom: 45px;
}
.game-configuration .subtitle {
    text-align: center;
    color: #082988;
    font-size: 20px;
}
.game-configuration .buttons {
    margin: 50px 0;
    text-align: center;
}
.game-configuration button {
    font-weight: bold;
    color: #082988;
    border: 2px solid #082988;
    background: #77bbf6;
    padding: 10px;
    margin: 5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}