@import "./home/home.css";
@import "./chest/chest.css";
@import "./dice-ongoing/dice-ongoing.css";
@import "./dices/dice.css";
@import "./footer/footer.css";
@import "./footer/draw-card-dialog.css";
@import "./header/header.css";
@import "./header/card-rules-dialog.css";
@import "./round/round.css";
@import "./skull-island/skull-island.css";
@import "./game-design/star-rain.css";
@import "./score-board/score-board.css";
@import "./score-board/start-player-round-dialog.css";
@import "./game/character-selection.css";
@import "./game/game-configuration.css";

@font-face {
  font-family: "skullsandcrossbones";
  src: url("../fonts/skullsandcrossbones.ttf");
}
@font-face {
  font-family: "pirateTreasure";
  src: url("../fonts/pirate_treasure_demo_4b3mb.otf");
}

body {
  font-family: arial, sans;
  color: #444444;
  margin: 0;
}
#main {
  background-color: #8ec9fc;
  color: white;
  overflow: hidden;
}
button {
  background: white;
  border: solid 1px currentColor;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 15px;
}
button:disabled:hover {
  cursor: default;
}
#main button:focus {
  outline: none;
}
.title {
  font-size: 23px;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

/* global structure */
html {
  display: flex;
  flex: 1;
  min-height: 100%;
}

body {
  display: flex;
  min-width: 100%;
}

#app {
  display: flex;
  flex: 1;
}

#main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;
}

/* #main-container::before,
#main-container::after {
  content: "";
  flex: 1;
} */

#main {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;

  max-width: 680px;
  max-height: 900px;
  /* margin: auto; */
}

#main .header {
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

#main .footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#main .box-and-skulls {
  height: 250px;
  position: relative;
}

#main .dice-ongoing {
  flex: 1;
  min-height: 100px;
}

#main .actions {
  position: relative;
  height: 60px;
}

#main .round-container {
  background-image: url(./wood.jpg);
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 680px;
  max-height: 900px;
}
