.dice {
  position: absolute;
  touch-action: none; /* prevent pull to refresh while dragging dices */
  user-select: none; /* prevent accidental dice image selection while mousedown + mousemove near the dice */
  overflow: visible;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.dice-cursed-disapear {
  animation: diceDisapear 0.2s 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
}
.dice-cursed-appear {
  transform: scale(0);
  animation: diceAppear 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
}

@keyframes diceDisapear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes diceAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
