.score-area {
  text-align: center;
  position: relative;
  height: 40px;
}
.score-area .bonds {
  border-left: 3px solid #c0c3b3;
  display: block;
  border-right: 3px solid #c0c3b3;
  height: 10px;
  width: 32px;
  margin: 0 auto;
}
.score-area .round-score {
  display: inline-block;
  min-width: 38px;
  color: #2c1d00;
  font-weight: 600;
  padding: 4px 15px;
  border-radius: 2px;
  background-color: grey;
  background-image: url(./stone.png);
  background-size: cover;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 3px 5px 2px 0px rgba(0, 0, 0, 0.33),
    0px 3px 1px -2px rgba(65, 65, 65, 0.12);
}
.score-area .pirate-hook {
  width: 37px;
  height: 56px;
  background-image: url("../chest/pirate-hook.png");
  background-size: contain;
  display: inline-block;
  position: absolute;
  transform: translate(3px, -6px) rotate(62deg);
  transform-origin: top;
  z-index: 2;
  opacity: 0;
  animation: balance 0.7s cubic-bezier(0.4, 0, 1, 1) 0.4s forwards;
}
@keyframes balance {
  0% {
    opacity: 0;
    transform: translate(-14px, -17px) rotate(62deg);
    background-image: url("../chest/pirate-hook.png");
  }
  1% {
    opacity: 1;
    transform: translate(-14px, -17px) rotate(62deg);
    background-image: url("../chest/pirate-hook.png");
  }
  25% {
    opacity: 1;
    transform: translate(-3px, -8px) rotate(-36deg);
    background-image: url("../chest/pirate-hook.png");
  }
  50% {
    opacity: 1;
    transform: translate(3px, -6px) rotate(42deg);
    background-image: url("../chest/pirate-hook.png");
  }
  75% {
    opacity: 1;
    transform: translate(-3px, -8px) rotate(-18deg);
    background-image: url("../chest/pirate-hook.png");
  }
  85% {
    opacity: 1;
    transform: translate(3px, -6px) rotate(35deg);
    background-image: url("../chest/pirate-hook-02.png");
  }
  100% {
    opacity: 1;
    transform: translate(3px, -6px) rotate(28deg);
    background-image: url("../chest/pirate-hook-02.png");
  }
}

/* SCORE RULES DIALOG */
.score-rules-dialog .dialog-box div {
  padding: 5px 0;
}
.score-rules-dialog .columns {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.score-rules-dialog .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  text-align: center;
  width: 80px;
}
.score-rules-dialog .column-title {
  font-size: 12px;
}
.score-rules-dialog span {
  border: 2px solid grey;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 3px;
  font-size: 15px;
  font-weight: 800;
}
.score-rules-dialog .symbol-number {
  width: 9px;
  margin: 3px auto;
  display: block;
  border: 2px solid #e4920b;
  box-shadow: inset 0px 0px 4px 0px rgb(73 73 73 / 44%);
  background: #ffcd5d;
  color: #c77c00;
}
.score-rules-dialog .points {
  width: 50px;
  margin: 3px auto;
  display: block;
  box-shadow: inset 0px 0px 4px 0px rgb(73 73 73 / 55%);
}
.score-rules-dialog img {
  width: 32px;
  height: 32px;
  margin: 3px auto;
  display: block;
  border: 2px solid #c77c00;
  box-shadow: inset 0px 0px 4px 0px rgb(73 73 73 / 55%);
  background: #ffcd5d;
  border-radius: 3px;
}
