#lab {
  display: flex;
  flex: 1;
}

#lab aside {
  width: 560px;
  border-right: 2px solid black;
  padding: 1em;
}

button[data-active] {
  border: 2px solid red;
}

.dice-variants {
  padding: 0.5em 0;
}

button.dice-variant {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  vertical-align: top;
}
