#settings {
  position: absolute;
  right: 0;
  top: 80px;
  background: white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-icon {
  width: 22px;
}

.settings-dialog-content {
  background: white;
}
