@import "./cards/cards.css";
@import "./dice-kept/dice-kept.css";
@import "./dice-ongoing/dice-ongoing.css";
@import "./dices/dice.css";
@import "./footer/footer.css";
@import "./header/header.css";
@import "./score/score.css";
@import "./skull-island/skull-island.css";

body {
  font-family: arial, sans;
  color: #444444;
  margin: 0;
}
#mille-sabord-container {
  background-image: url("./wood.jpg");
  color: white;
  padding: 15px;
  max-width: 680px;
  margin: 0 auto;
  overflow: hidden;
}
button {
  background: white;
  border: solid 1px currentColor;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 15px;
}
button:disabled:hover {
  cursor: default;
}
#mille-sabord-container button:focus {
  outline: none;
}
.title {
  font-size: 23px;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
.subtitle {
  margin: 20px 0;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 680px) {
  .subtitle {
    font-size: 17px;
  }
}

/* global structure */
body {
  display: flex;
}

#app {
  display: flex;
  flex: 1;
}

#mille-sabord-container {
  height: stretch;
  display: flex;
  flex-direction: column;
}

#mille-sabord-container .header {
  height: 60px;
}

#mille-sabord-container .dice-kept-and-skulls {
  height: 250px;
  position: relative;
  z-index: 1; /* z-index pour passer par dessus la map (idéalement la map serait pas en position absolute) */
}

#mille-sabord-container .dice-ongoing {
  flex: 1;
  min-height: 100px;
  z-index: 0; /* z-index pour que la map reste en dessous */
}

#mille-sabord-container .actions {
  position: relative;
  z-index: 1; /* z-index pour passer par dessus la map (idéalement la map serait pas en position absolute) */
  height: 60px;
}
