@import "./dice-ongoing.css";
@import "./dice-kept.css";

.dice {
  overflow: hidden;
  padding: 2px;
}
.dice:focus,
.dice img:focus {
  outline: none;
}
.diceWithCollision {
  overflow: hidden;
  padding: 2px;
  position: absolute;
  border: 1px solid red;
}
