.diceKept {
  display: inline-block;
  vertical-align: top;
}
.diceKept .area {
  background-image: url(./assets/wood-box.jpg);
  box-shadow: inset 0px 0px 0px 9px rgba(94, 52, 29, 0.49),
    inset 0px 0px 0px 19px rgba(94, 52, 29, 0.49);
  border: 3px solid #2c1d00;
  position: relative;
  background-size: 100%;
  padding: 30px;
  height: 160px;
  width: 200px;
  margin: 15px 0;
}

/* CSS to draw the wood box */
.diceKept .area .box {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: relative;
  left: -12px;
  top: -13px;
  border: 2px solid black;
}
.diceKept .top-left-corner {
  width: 28px;
  border-bottom: 2px solid rgb(44, 29, 0);
  transform: rotate(42deg);
  position: absolute;
  transform-origin: top left;
  left: 0;
  top: -1px;
}
.diceKept .top-right-corner {
  width: 28px;
  border-bottom: 2px solid rgb(44, 29, 0);
  transform: rotate(-42deg);
  position: absolute;
  transform-origin: top right;
  right: 0;
  top: -1px;
}
.diceKept .bottom-left-corner {
  width: 28px;
  border-bottom: 2px solid rgb(44, 29, 0);
  transform: rotate(-42deg);
  position: absolute;
  transform-origin: bottom left;
  left: 0;
  bottom: 0px;
}
.diceKept .bottom-right-corner {
  width: 28px;
  border-bottom: 2px solid rgb(44, 29, 0);
  transform: rotate(42deg);
  position: absolute;
  transform-origin: bottom right;
  right: 0;
  bottom: 0px;
}
